/*
Font: 		Visby CF
Style: 		Light Oblique
URL: 		https://www.youworkforthem.com/font/T5585/visby-cf
Foundry: 	Connary Fagen
Foundry: 	https://www.youworkforthem.com/designer/479/connary-fagen
Copyright:	© 2016 Connary Fagen
Version: 	17
Created:	October 10, 2017
License: 	https://www.youworkforthem.com/font-license 
License: 	The WebFont(s) listed in this document must follow the YouWorkForThem
			WebFont license rules. All other parties are strictly restricted 
			from using the WebFonts(s) listed without a purchased license. 
			All details above must always remain unaltered and visible in your CSS.
*/

@font-face {
	font-family: 'VisbyCF-LightOblique';
	src: url('visby-cf-light-oblique.eot');
	src: url('visby-cf-light-oblique.eot?#iefix') format('embedded-opentype'),
             url('visby-cf-light-oblique.woff2') format('woff2'),
	     url('visby-cf-light-oblique.woff') format('woff'),
	     url('visby-cf-light-oblique.ttf') format('truetype'),
	     url('visby-cf-light-oblique.svg#youworkforthem') format('svg');
	font-weight: normal;
	font-style: normal;
}
